// COLORS

$main_color: #011936;
$secondary_color: #F9DC5C;
$background_color: #F4FFFD;
$red: #ED254E;
$dark_grey: #465362;

$white: #fff;
$black: #000;

$font_color: #333;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Montserrat:wght@400;600&display=swap');
$body_font: 'Hind', sans-serif;
$heading_font: 'Montserrat', sans-serif;
 
